﻿@page "/addhotwheel"
@using Common;
@using ApiServices;
@using Microsoft.AspNetCore.Components.Forms;
@using Microsoft.Extensions.Logging;
@inject ILogger<AddHotwheel> Logger

<PageTitle>Add HotWheel</PageTitle>

<EditForm class="form" Model="@formMiniaturCar" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label for="brand" class="form-label">Brand</label>
    <InputText class="form-control" id="brand" @bind-Value="formMiniaturCar.Brand" />

    <label for="model" class="form-label">Model</label>
    <InputText class="form-control" id="model" @bind-Value="formMiniaturCar.Model" />

    <label for="price" class="form-label">Price</label>
    <InputNumber class="form-control" id="price" @bind-Value="formMiniaturCar.Price" />

    <label for="color" class="form-label">Color</label>
    <InputText class="form-control" id="color" @bind-Value="formMiniaturCar.Color" />

    <label for="premium" class="form-label">Premium</label>
    <InputCheckbox class="form-check-input" type="checkbox" id="premium" @bind-Value="formMiniaturCar.Premium" />

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    private tempMiniaturCar formMiniaturCar = new();

    private async Task HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        var modelForSending = new MiniaturCar
            {
                Brand = formMiniaturCar.Brand,
                Color = formMiniaturCar.Color,
                Model = formMiniaturCar.Model,
                Premium = formMiniaturCar.Premium,
                Price = formMiniaturCar.Price
            };

        var hotwheelsApi = new HotWheelsApi();
        await hotwheelsApi.AddNewHotWheelAsync(modelForSending);
    }

    public record tempMiniaturCar
    {
        public string? Brand { get; set; }
        public string Model { get; set; } = "";
        public string? Color { get; set; }
        public int Price { get; set; }
        public bool Premium { get; set; } = false;
    }
}
