﻿@page "/"

<PageTitle>Index</PageTitle>

<h1>HotWheels Collector!</h1>

<form>
  <div class="mb-3">
    <label for="inputHotWheelsSearch" class="form-label">Search HotWheels</label>
    <input type="search" class="form-control" id="inputHotWheelsSearch" aria-describedby="search HotWheels">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<SurveyPrompt Title="How is Blazor working for you?" />
 